*{
    font-family: 'Itim', 'cursive';
}

body {background-color: #C9E2EF;}

#bg1{
    background-color: 	#282A35;
}

#bg2{
    background-color: 	#D9EEE1;
}

#bg3{
    background-color: 	#FFF4A3;
}

#bg4{
    background-color: 	#F3ECEA;
}